@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-publicSans: "Public Sans", sans-serif;

  --color-dark-blue: var(--dark-blue);
  --color-lime-green: var(--lime-green);
  --color-bright-cyan: var(--bright-cyan);

  --color-grayish-blue: var(--grayish-blue);
  --color-light-grayish-blue: var(--light-grayish-blue);
  --color-very-light-gray: var(--very-light-gray);
}

:root {
  @apply font-publicSans;

  /* === Primary === */

  /* title card, heading & sub-heading + bg footer */
  --dark-blue: rgb(45, 49, 77);

  --lime-green: rgb(42, 209, 120);
  --bright-cyan: rgb(43, 216, 216);

  /* === Neutral === */

  /* text body pada card + bg features section */
  --grayish-blue: rgb(117, 123, 139);

  --light-grayish-blue: rgb(237, 242, 247); /* bg hero & articles section */
  --very-light-gray: rgb(250, 250, 250);
}

.nav-item {
  @apply text-dark-blue/40 hover:text-dark-blue py-6 font-medium transition-colors duration-[0.3s] xl:text-lg;
}

.gradient-border {
  position: relative;
}

.gradient-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  transition: opacity 0.3s ease;
  opacity: 0;
}

.gradient-border:hover::after {
  opacity: 1;
}
